.menu-btn {
  position: absolute;
  background: #000;
  top: 30px;
  left: 30px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  z-index: 3;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn:hover {
    background: #fff; }
    .menu-btn:hover .btn-line-container .btn-line {
      background: #000; }
  .menu-btn .btn-line-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .menu-btn .btn-line-container .btn-line {
      background: #fff;
      width: 65%;
      height: 11%;
      transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 0px) scale(0.6, 1); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, 0px) scale(0.6, 1); }

.menu {
  height: 100px;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #222;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
    .menu-nav.close {
      transition-delay: 0.5s; }
  .menu .nav-item {
    transform: translate3d(-200vw, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #14c8dc; }
  .menu .nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #14c8dc; }

.nav-item:nth-child(1) {
  transition-delay: 0.4s; }

.nav-item:nth-child(2) {
  transition-delay: 0.3s; }

.nav-item:nth-child(3) {
  transition-delay: 0.2s; }

.nav-item:nth-child(4) {
  transition-delay: 0.1s; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 0; }

main {
  min-height: calc(100vh - 60px);
  background-color: #a2a2a2;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main#home {
    justify-content: flex-start; }
    main#home .main-header {
      font-size: 5rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #000;
      margin: 100px 0 0 0;
      padding: 0 50px 0 50px;
      word-break: break-word; }
    main#home .main-text {
      width: 100%;
      text-align: center;
      max-width: 700px; }
      main#home .main-text p {
        color: #000;
        font-size: 1.5rem;
        text-align: justify;
        padding: 0 50px 50px 50px; }
  main#page2 {
    justify-content: center; }
  main#page3 {
    justify-content: flex-start; }
    main#page3 .img-list {
      width: 60%;
      padding: 150px 0 0 0; }
      main#page3 .img-list .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1.5rem 0 1.5rem 0;
        padding: 1.5rem 0 1.5rem 0;
        background: #222; }
        main#page3 .img-list .text-box div {
          width: 90%;
          color: #fff;
          text-align: justify; }
      main#page3 .img-list .parallax-img {
        height: 50vh;
        width: 100%; }
      main#page3 .img-list .img-1 {
        background: url("../../dist/img/budapest.jpg") no-repeat;
        background-size: 100%;
        background-position: left center;
        background-attachment: fixed; }
      main#page3 .img-list .img-2 {
        background: url("../../dist/img/urban-landscape.jpg") no-repeat;
        background-size: 100%;
        background-position: left center;
        background-attachment: fixed; }
      main#page3 .img-list .img-3 {
        background: url("../../dist/img/taipei-taiwan.jpg") no-repeat;
        background-size: 100%;
        background-position: left center;
        background-attachment: fixed; }
      main#page3 .img-list .img-4 {
        background: url("../../dist/img/shanghai.jpg") no-repeat;
        background-size: 100%;
        background-position: left center;
        background-attachment: fixed; }
  main#info {
    justify-content: flex-start; }
    main#info .text-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 100px 0 0 0; }
      main#info .text-body > * {
        text-transform: uppercase;
        color: #000; }
      main#info .text-body .info-header {
        font-size: 2.5rem;
        font-weight: 300; }
      main#info .text-body p {
        font-size: 1.5rem;
        margin: 0; }
      main#info .text-body a {
        text-decoration: none;
        font-size: 1.5rem;
        margin: 0; }

.grid {
  padding: 150px 0 50px 0;
  display: grid;
  width: 80%;
  max-width: 1500px;
  grid-template-areas: 'img1 desc1' 'desc2 img2' 'img3 desc3';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2rem;
  align-items: end; }
  .grid .description {
    height: 100%;
    width: 100%;
    background: #222;
    color: #fff; }
    .grid .description p {
      padding: 2rem 2rem 1rem 2rem;
      margin: 0;
      text-align: justify; }
    .grid .description div {
      text-align: center;
      padding: 0 0 2rem 0; }
      .grid .description div a {
        text-decoration: none;
        color: #14c8dc; }
        .grid .description div a:hover {
          color: #fff;
          transition: all 0.5s ease-out; }
  .grid .img-container {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0); }
  .grid .img-1 {
    grid-area: img1;
    background: url("../../dist/img/creek.jpg") no-repeat;
    background-size: cover;
    background-position: left center; }
  .grid .img-2 {
    grid-area: img2;
    background: url("../../dist/img/forest.jpg") no-repeat;
    background-size: cover;
    background-position: left center; }
  .grid .img-3 {
    grid-area: img3;
    background: url("../../dist/img/nature.jpg") no-repeat;
    background-size: cover;
    background-position: left center; }
  .grid .desc-1 {
    grid-area: desc1;
    border-right: solid 5px #14c8dc; }
  .grid .desc-3 {
    grid-area: desc2;
    border-left: solid 5px #14c8dc; }
  .grid .desc-2 {
    grid-area: desc3;
    border-right: solid 5px #14c8dc; }

#main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #222;
  color: #fff;
  height: 60px;
  width: 100%; }

@media screen and (max-width: 500px) {
  header {
    height: 100%;
    width: 0; }
  .menu {
    height: 100%;
    width: auto;
    display: inline-block; }
    .menu-nav {
      flex-direction: column; }
      .menu-nav .nav-item {
        width: 100%; }
  .grid {
    max-width: 500px;
    grid-template-areas: 'img1' 'desc1' 'img2' 'desc2' 'img3' 'desc3';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 2rem; }
    .grid .description {
      border-left: none;
      border-right: none;
      border-bottom: solid 5px #14c8dc;
      margin-top: -2rem;
      padding-bottom: 2rem; }
      .grid .description div {
        padding-bottom: 0; }
    .grid .img-container {
      /* grid aligns items to end. setting max height helps so that the image
    doesn't get really tall and thin when the screen width is small */
      max-height: 450px; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  header {
    height: 100%;
    width: 0; }
  .menu {
    height: 100%;
    width: auto;
    display: inline-block; }
    .menu-nav {
      flex-direction: column; }
      .menu-nav .nav-item {
        width: 100%; }
  .grid {
    max-width: 500px;
    grid-template-areas: 'img1' 'desc1' 'img2' 'desc2' 'img3' 'desc3';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 2rem; }
    .grid .description {
      border-left: none;
      border-right: none;
      border-bottom: solid 5px #14c8dc;
      margin-top: -2rem;
      padding-bottom: 2rem; }
      .grid .description div {
        padding-bottom: 0; }
    .grid .img-container {
      /* grid aligns items to end. setting max height helps so that the image
    doesn't get really tall and thin when the screen width is small */
      max-height: 450px; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .grid {
    max-width: 500px;
    grid-template-areas: 'img1' 'desc1' 'img2' 'desc2' 'img3' 'desc3';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 2rem; }
    .grid .description {
      border-left: none;
      border-right: none;
      border-bottom: solid 5px #14c8dc;
      margin-top: -2rem;
      padding-bottom: 2rem; }
      .grid .description div {
        padding-bottom: 0; }
    .grid .img-container {
      /* grid aligns items to end. setting max height helps so that the image
    doesn't get really tall and thin when the screen width is small */
      max-height: 450px; } }
