
@include mediaSm {
  header {
    height: 100%;
  }

  .menu {
    height: 100%;
    width: fit-content;
    
    &-nav {
      flex-direction: column;

      .nav-item {
        width: 100%;
      }
    }
  }
}

@include mediaMd {
  header {
    height: 100%;
  }

  .menu {
    height: 100%;
    width: fit-content;
    
    &-nav {
      flex-direction: column;

      .nav-item {
        width: 100%;
      }
    }
  }
}

@include mediaLg {
  
}

@include mediaXl {
  
}
