@import 'config';
@import 'menu';

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 0;
}

main {
  min-height: calc(100vh - 60px); // space for footer
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &#home {
    justify-content: flex-start;

    .main-header {
      font-size: 5rem;
      font-weight: 400;
      text-transform: uppercase;
      color: set-color($bg-color);
      margin: 100px 0 0 0;
      padding: 0 50px 0 50px;
      word-break: break-word;
    }

    .main-text {
      width: 100%;
      text-align: center;
      max-width: 700px;

      p {
        color: set-color($bg-color);
        font-size: 1.5rem;
        text-align: justify;
        padding: 0 50px 50px 50px;
      }
    }
  }

  &#page2 {
    justify-content: center;
  }

  &#page3 {
    justify-content: flex-start;

    .img-list {
      width: 60%;
      padding: 150px 0 0 0;

      .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1.5rem 0 1.5rem 0;
        padding: 1.5rem 0 1.5rem 0;
        background: $primary-color;

        div {
          width: 90%;
          color: set-color($primary-color);
          text-align: justify;
        }
      }

      .parallax-img {
        height: 50vh;
        width: 100%;
      }

      .img-1 {
        background: url('../img/budapest.jpg') no-repeat;
        background-size: 100%;
        background-position: left center;
        background-attachment: fixed;
      }

      .img-2 {
        background: url('../img/urban-landscape.jpg') no-repeat;
        background-size: 100%;
        background-position: left center;
        background-attachment: fixed;
      }

      .img-3 {
        background: url('../img/taipei-taiwan.jpg') no-repeat;
        background-size: 100%;
        background-position: left center;
        background-attachment: fixed;
      }

      .img-4 {
        background: url('../img/shanghai.jpg') no-repeat;
        background-size: 100%;
        background-position: left center;
        background-attachment: fixed;
      }
    }
  }

  &#info {
    justify-content: flex-start;

    .text-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 100px 0 0 0;

      & > * {
        text-transform: uppercase;
        color: set-color($bg-color);
      }

      .info-header {
        font-size: 2.5rem;
        font-weight: 300;
      }

      p {
        font-size: 1.5rem;
        margin: 0;
      }

      a {
        text-decoration: none;
        font-size: 1.5rem;
        margin: 0;
      }
    }
  }
}

.grid {
  padding: 150px 0 50px 0;
  display: grid;
  width: 80%;
  max-width: 1500px;
  grid-template-areas: 
  'img1 desc1'
  'desc2 img2'
  'img3 desc3';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2rem;
  align-items: end;

  .description {
    height: 100%;
    width: 100%;
    background: $primary-color;
    color: set-color($primary-color);

    p {
      padding: 2rem 2rem 1rem 2rem;
      margin: 0;
      text-align: justify;
    }

    div {
      text-align: center;
      padding: 0 0 2rem 0;

      a {
        text-decoration: none;
        color: $secondary-color;

        &:hover {
          color: set-color($primary-color);
          @include easeOut
        }
      }
    }
  }

  .img-container {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0);
  }

  .img-1 { 
    grid-area: img1;
    background: url('../img/creek.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
  }

  .img-2 { 
    grid-area: img2;
    background: url('../img/forest.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
  }

  .img-3 { 
    grid-area: img3;
    background: url('../img/nature.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
  }
  
  .desc-1 { 
    grid-area: desc1;
    border-right: solid 5px $secondary-color; 
  }

  .desc-3 { 
    grid-area: desc2;
    border-left: solid 5px $secondary-color; 
  }

  .desc-2 { 
    grid-area: desc3;
    border-right: solid 5px $secondary-color;  
  }
}

#main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: $primary-color;
  color: set-color($primary-color);
  height: 60px;
  width: 100%;
}

@import 'mobile';
